# Archivos de estado de Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Planes de Terraform
*.tfplan

# Archivos de variables (excepto example.tfvars)
*.tfvars
!example.tfvars

# Archivos de respaldo
*.backup

# Archivos de configuración locales
.terraformrc
terraform.rc

# Archivos de credenciales
*.pem
*.key
*.pub
credentials.json
*.pfx
*_credentials*
*credentials*
*id_rsa*
*.keystore

# Archivos de log
*.log

# Directorios e información local específica del sistema
.DS_Store
Thumbs.db

# Archivos de override de Terraform
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Archivos de configuración de providers locales
**/.terraform.d/